<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <meta charset="UTF-8">
    <meta name="msvalidate.01" content="7FD8C5D3102B730388B77E6676E0F3CC" />
    <link rel="icon" href="mdb/img/mdb-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'mdb/css/bootstrap.min.css' %}">
    <!-- Material Design Bootstrap
    <link rel="stylesheet" href="{% static 'mdb/css/mdb.min.css' %}" -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- MDB icon -->


    <style media="screen">
    .footer{
         position: fixed;
         bottom: 0;
         width: 100%;
         background-color: #272b33;
         color: white;
         text-align: center;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="img" sizes="16x16">
  <link rel="stylesheet" href="{% static 'css/base.css' %}"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158205883-3"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158205883-3');
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=206731770631488&autoLogAppEvents=1"></script>
    {% block contant %}
    {{ crypto }}
    {% endblock %}

  <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
  <a class="navbar-brand" href="{% url 'index' %}">DailyNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Lookup Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">Crypto Currency News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'que' %}">TechCrunch News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Signup' %}">SignUp</a>
      </li>
      {% endif %}

    <div id="google_translate_element"></div>

    </ul>
<div class="dropdown">
    <div id="google_translate_element"></div>
  <button class="dropbtn">Select Country</button>
  <div class="dropdown-content">
    <a href="{% url 'india' %}">India</a>
    <a href="{% url 'usa' %}">USA</a>
    <a href="{% url 'russia' %}">Russia</a>
    <a href="{% url 'china' %}">China</a>
  </div>
  </div>
</nav>
<p>{{now}}<p>

<footer class="footer">
      <div class="container">
                  <p class="copyright">&copy;Dailynews All Rights Reserved|Design by Navi@ritz</p>
            </div>
        </div>
      </div>
    </footer>
  </body>
</html>
