{% extends 'base.html' %}
{% block contant %}
{% load static %}
``<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <title>Dailynews | Best News Aggregator Website</title>
  <meta name="description" content="Dailynews is a website provides live news of such country in your launguage and live rates status of Crypto currency in one place.">
  <meta name="keywords" content="dailynews, dailynewsLookup Prices ,dailynews Wall Street Journal, Top dailynews in india">
  <meta name="author" content="Navneet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <div class="header">
    <div class="news blue">
      <span class="text1"><marquee><h5>Welcome {{user.username}} in Dailynews.pythonanywhere.com</h5></marquee></span>
      <span class="text1" >{% if user.is_authenticated %}
        <span>Hello {{user.username}}</span>
        <span class="text1">
          {% else %}
          <a href="{% url 'Signup'%}"><span>Please Login</span></a>
          <span class="lang" id="google_translate_element"></span>
          <span class="text1">
            {% endif %}
            <span><h5><a href="{% url 'Topusa_headlines' %}">Top Headlines USA</a></h5></span><span><h5><a href="{% url 'Topbcc_headlines' %}">Top Headlines from BBC News</a></h5></span><span><h5><a href="{% url 'Topgermany_headlines' %}">
              Top Business Headlines from Germany</a></h5></span><span><h5><a href="{% url 'bitcoinartical' %}"> Articles about Bitcoin</a></h5></span></span><span class="text1" ><span><h5><a href="{% url 'india' %}">India</a></h5></span><span><h5><a href="{% url 'usa' %}">USA</a></h5></span><span>
                <h5><a href="{% url 'russia' %}">Russia</a></h5></span><span><h5><a href="{% url 'china' %}">China</a></h5></span></span>
              </div>
            </div>
 <div class="container">
   <div class="row">
 <div class="card mb-3">
    {% for x in index.articles %}
   <img src="{{ x.urlToImage }}" class="card-img-top" alt="{{ x.source }}" height="350px" width="700px">
   <div class="card-body">
    <h3 class="card-title">{{ x.title }}</h3><hr>
    <p class="card-text">{{ x.content }}</p>
    <h5 class="card-text"><small class="text-muted">{{x.publishedAt}}</small></h5>
    <a href={{ x.url }} class="btn btn-primary">Read more..</a>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-href={{x.url}} data-layout="button" data-action="like" data-size="large"></div>
    <div class="fb-share-button" data-href={{ x.url }} data-layout="button_count" data-size="large"></div>
    <a href="whatsapp://send?text={{x.title}}
    {{x.content}}-- Read More Click this link - https://dailynews.pythonanywhere.com/" class="btn btn-success" data-width="100" data-size="large" data-href={{x.url}} target = _blank><i class="fa fa-whatsapp" style="color:white"></i></a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
