{% extends 'base.html' %}

{% block contant %}
<head>
{% load static %}
 <title>Sport News in India | Sports News</title>
    <meta name = "keywords" content = "Indian Sports News , top Sports samachar in india,india Sports News,india ki Sports News update">

     <!-- Provide description of the page -->
     <meta name = "description" content = "Indian Sports news in cryptonews network top updates of today in india.latest cricket update in india, sports news in indian click here for more details about today india sport news.">

     <!-- Author information -->
     <meta name = "author" content = "Navneet">

     <!-- Page content type -->
     <meta http-equiv = "content-type" content = "text/html; charset = UTF-8">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
    <div class="news blue">
    {% if user.is_authenticated %}
    <span>Hello {{user.username}}</span>
    {% else %}
    <span>Latest News</span>
    {% endif %}
    <span class="text1" ><span><h5><a href="{% url 'indiasport' %}">India Sports</a></h5></span><span><h5><a href="{% url 'indiaBussiness' %}">India Bussiness</a></h5></span><span><h5><a href="{% url 'indiaEntertainment' %}">India Entertainment</a></h5></span><span><h5><a href="{% url 'indiatechnology' %}">India Technology</a></h5></span><span><h5><a href="{% url 'indiascience' %}">India Science</a></h5></span><marquee><h3>Indian Sports News Section</h3></marquee></span>
    </div>
<br/>
<div class="container">
  <div class="row">
<h1>India Sports News</h1>
        <div class="card mb-3">
          {% for x in indiasport.articles %}
          <img src="{{ x.urlToImage }}" class="card-img-top" alt="{{ x.source }}" height="350px" width="700px">
          <div class="card-body">
            <h3 class="card-title">{{ x.title }}</h3><hr>
            <h4 class="card-title">{{ x.description }}</h4>
            <p class="card-text">{{ x.content }}</p>
            <h5 class="card-text"><small class="text-muted">{{x.publishedAt}}</small></h5>
            <a href={{ x.url }} class="btn btn-primary">Read more..</a>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-href={{x.url}} data-layout="button" data-action="like" data-size="large"></div>
            <div class="fb-share-button" data-href={{ x.url }} data-layout="button_count" data-size="large"></div>
            <a href="whatsapp://send?text={{x.title}}
                {{x.content}}-- Read More Click this link - https://dailynews.pythonanywhere.com/" class="btn btn-success" data-width="100" data-size="large" data-href={{x.url}} target = _blank><i class="fa fa-whatsapp" style="color:white"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>

        {% endblock %}
